<!-- 
https://angular.io/docs/js/latest/api/common/NgModel-directive.html
ngModel binds an existing domain model to a form control. 
For a two-way binding, use [(ngModel)] to ensure the model updates in both directions.
 -->

    
<div class="block">
    <h2>Letter select component</h2>
    <select [(ngModel)]="selectedLetter">
 
       	<!--  letters - from class LetterSelect variable
        {{letter}} - prints what is assigned to #letter variable -->
        <option *ngFor="#letter of letters">{{letter}}</option>
    </select>
    <br>
    You can also select letter by typing: <br>
    
    <!-- we do not need value attribute, just use [(ngModel)] -->
    <input type="text" [(ngModel)]="selectedLetter"><br>
     Here its one way binding - we just see what has been typed but if we edit - this does not change the model value: <br>

	<input type="text" value="{{selectedLetter}}">
</div>

